@using MVCHomeWork.Areas.作業一.Models

@Html.Partial("查詢頁", new QueryContactPersonModel());
<div id="modalView" class="modal fade" tabindex="-1" role="dialog"></div>

<script type="text/javascript">
    function loadDataList(model) {
        BlockUIWindow("...客戶聯絡人清單載入中...");
        $("#ContactPersonListView").load("@Url.Action("QueryList", "客戶聯絡人管理")", { model: model }, function () {
            $('#ContactPersonList').show();
            $.unblockUI();
        });
    }

    function loadEditContactPersonInfo(id, dataid, url) {
        if (dataid === 0) {
            BlockUIWindow("...新增客戶聯絡人資料頁面載入中...");
        } else if (url.indexOf("Detail")) {
            BlockUIWindow("...客戶聯絡人資料頁面載入中...");
        } else {
            BlockUIWindow("...編輯客戶聯絡人資料頁面載入中...");
        }
        $("#modalView").load(url, { id: id, dataid: dataid }, function () {
            $("#modalView").modal("show");
            $.unblockUI();
        });
    }

    function delContactPerson(id, text) {
        if (confirm('是否要刪除聯絡人' + text + '的資料?')) {
            BlockUIWindow("...聯絡人" + text + "資料刪除中...");
            $.ajax({
                url: "@Url.Action("Delete", "客戶聯絡人管理")",
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    alert(data.message);
                    if (data.isValid) {
                        $("#modalView").modal("hide");
                        loadDataList($('#formQuery').MVCModelSerialize());
                    }
                    $.unblockUI();
                }
            });
        }
    }
</script>
