/*fuyu 2014/02/12 add 使用ul li打包label與input 效果:畫面寬度變小時label會與打包在一起的input同時折行 */
ul.inline, div.validation-summary-errors > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.inline > li, div.validation-summary-errors > ul > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 5px;
    padding-right: 5px;
}

ul.inline >li{
    margin: 5px 0px 0px 0px;
}

ul.inline> li > input[type="text"] {
background-color: #FFFFFF;
border: 1px solid #D5D5D5;
border-radius: 0;
box-shadow: none !important;
color: #000000;
}
ul.inline> li > input[type="text"]:focus {
background-color: #FFFFFF;
border-color: #F59942;
color: #000000;
outline: 0 none;
}

ul.inline > li > label{
    width: 140px; 
    text-align: right;
}
ul.inline > li > label:after{
    content: "：";
}

.li-mini {
    width: 215px;
}
.li-small {
    width: 265px;
}
.li-medium {
    width: 305px;
}
.li-large {
    width: 375px;
}
.li-xlarge {
    width: 435px;
}
.li-xxlarge {
    width: 685px;
}

li.li-mini > input[type="text"], li.li-mini > div.bootstrap-select {
    width: 60px;
}
li.li-small > input[type="text"], li.li-small > div.bootstrap-select {
    width: 100px;
}
li.li-medium > input[type="text"], li.li-medium > div.bootstrap-select {
    width: 150px;
}
li.li-large > input[type="text"], li.li-large > div.bootstrap-select {
    width: 210px;
}
li.li-xlarge > input[type="text"], li.li-xlarge > div.bootstrap-select {
    width: 270px;
}
li.li-xxlarge > input[type="text"], li.li-xxlarge > div.bootstrap-select {
    width: 530px;
}

li.li-large > div.input-group {
    float: right;
}

li.li-large > div.input-group > input[type="text"] {
    width: 121px;
} 

li.li-large > div.input-group > .input-group-btn {
    width: 0%;
} 

li.li-xlarge > div.input-group {
    float: right;
}

li.li-xlarge > div.input-group > input[type="text"] {
    width: 181px;
} 

li.li-xlarge > div.input-group > .input-group-btn {
    width: 0%;
} 

li.li-xxlarge > div.input-group {
    float: right;
}

li.li-xxlarge > div.input-group > input[type="text"] {
    width: 431px;
} 

li.li-xxlarge > div.input-group > .input-group-btn {
    width: 0%;
} 
